@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary-red {
    @apply bg-red-600 text-white px-3 py-2 rounded-lg hover:bg-red-700 flex items-center gap-1 text-xs transition-colors;
  }
}